<!DOCTYPE html>

<html>

<head>
    <title>CS 101</title>
    
    <!-- Third-Party Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />

    <!-- My Stylesheets -->

    <!-- Component Styles -->
    <link rel="stylesheet" type="text/css" href="/css/comp.text.css" />
    <link rel="stylesheet" type="text/css" href="/css/comp.widgets.css" />

    <!-- Main Page Styles -->
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.header.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.course.css" />

    <!-- Third-Party Scripts -->
    <script type="text/javascript" src="/lib/react/react.js"></script>
    <script type="text/javascript" src="/lib/react/JSXTransformer.js"></script>

    <!-- My Scripts -->

    <!-- Views -->
    <script type="text/jsx" src="/views/widgets.js"></script>
    <script type="text/jsx" src="/views/header.js"></script>
    <script type="text/jsx" src="/views/course.js"></script>

    <!-- Initialization -->
    <script type="text/javascript">
        // Setup global namespaces.
        var View = {};
    </script>
    
    <script type="text/jsx">
        /** @jsx React.DOM */

        React.renderComponent(
            <View.Course_Root />,
            document.getElementsByTagName('body')[0]
        );
    </script>

</head>

<body>
    <div class="main">
        <header class="header--fill">
            <img class="header__logo" src="/img/logo-dark.png" />
            <h1 class="header__title">Coursaic</h1>
            <div class="main-nav-pointer"></div>
            <nav class="main-nav">
                <div class="main-nav__item--clickable">
                    Logout
                    <div class="main-nav__break"></div>
                </div>

                <div class="main-nav__item--unclickable">
                    Welcome, Brendan
                </div>

            </nav>
            <div class="profile-pic--circle header__profile-pic">
                <img src="/img/profilePic.png" />
            </div>
            
        </header>
    </div>

    <div class="header-offset--fill"></div>

    <div class="dashboard">
        <ul class="dashboard__course-logistics">
            <li class="dashboard__course-logistics__item">2 exams</li>
            <li class="dashboard__course-logistics__item">12 people enrolled</li>
        </ul>

        <ul class="dashboard__profile-grid profile-grid" style="min-width:150px">
            <li class="profile-grid__row__item profile-pic--square">
                <img src="/img/temp/bunny-profile.png" />
            </li>
            <li class="profile-grid__row__item profile-pic--square">
                <img src="/img/temp/frat-profile.png" />
            </li>
            <li class="profile-grid__row__item profile-pic--square">
                <img src="/img/temp/dog-profile.png" />
            </li>
            <li class="profile-grid__row__item profile-pic--square">
                <img src="/img/temp/monkey-profile.png" />
            </li>
            <li class="profile-grid__row__item profile-pic--square">
                <img src="/img/temp/tiger-profile.png" />
            </li>
            <li class="profile-grid__row__item member-count--square">+7</li>
        </ul>

    </div>

    <div class="course-summary">
        <div class="course-summary__banner" style="background: rgb(208, 2, 27);"></div>
        <h1 class="course-summary__code">CS 101</h1>
        <p class="course-summary__name">Introduction to Computer Science</p>
        <p class="course-summary__field">
            <span class="course-summary__field__key">Field:</span>
            <span class="course-summary__field__value">Computer Science</span>
        </p>

        <div class="profile-pic--circle--bordered course-summary__creator-profile">
            <img src="/img/temp/monkey-profile.png" />
        </div>
        <div class="course-summary__creator-info">Course created by
            <span class="user-name">Monkey Joe</span> on Sept. 20, 2013.
        </div>
    </div>

    <div class="content course-content">
        <div class="content__nav">
            <ul class="main-options">
                <li class="main-options__item">
                    <img src="/img/icons/exam.png"
                         style="height: 30px; margin: -15px 0px 0px 9px;"
                         class="main-options__item__icon" />

                    <div class="main-options__item__text">Create Exam</div>
                </li>
            </ul>

            <div class="divide"></div>

            <div class="category exam-list">
                <div class="category__title">Exams</div>
                <div class="exam-list__selection-bar"
                     style="top: 27px; background:rgb(208, 2, 27);"></div>

                <ul class="category__list">
                    <li>Exam 1</li>
                    <li>Exam 2</li>
                </ul>
            </div>
        </div>
        
        <div class="content__body">
            <div class="content__body__wrapper">
                <h1 class="content__body__title">Exam 1</h1>
                <div class="exam">
                    <div class="exam__creator-info">
                        <div class="exam__creator-info__pic">
                            <div class="profile-pic--circle--bordered">
                                <img src="/img/temp/frat-profile.png" />
                            </div>
                        </div>
                        
                        <span class="exam__creator-info__text">
                            Exam created by <span class="user-name">Frat Star</span> on Sept. 22, 2013.
                        </span>
                    </div>
                    <div class="exam__my-questions">
                        <div class="exam__my-questions__title">My Questions</div>
                        <ul class="exam__my-questions__question-list question-list">
                            <li class="question">
                                <img class="question__icon--edit" src="/img/icons/edit.png" />
                                <img class="question__icon--delete" src="/img/icons/delete.png" />
                                <div class="question__content">
                                    <div class="question__ask">What is the capital of California?</div>
                                    <ul class="question__multi-choice multi-choice">
                                        <li class="multi-choice__item">Canada. This is a really long question and there is a lot of text here. I'm going to keep on typing.</li>
                                        <li class="multi-choice__item">Hawaii</li>
                                        <li class="multi-choice__item--correct">Sacramento</li>
                                        <li class="multi-choice__item">Boise</li>
                                    </ul>
                                </div>
                                <div class="question__explain">
                                    Explanation: California is the captial of Sacramento.
                                </div>

                            </li>
                             <li class="question">
                                <img class="question__icon--edit" src="/img/icons/edit.png" />
                                <img class="question__icon--delete" src="/img/icons/delete.png" />
                                <div class="question__content">
                                    <div class="question__ask">
                                        A farmer has 3 apples. He gives 2 to his buddy and buys 6 more at the store.  How many apples does the farmer have now?
                                    </div>

                                    <ul class="question__multi-choice multi-choice">
                                        <li class="multi-choice__item">4</li>
                                        <li class="multi-choice__item">9</li>
                                        <li class="multi-choice__item--correct">7</li>
                                        <li class="multi-choice__item">1</li>
                                    </ul>
                                </div>

                                <div class="question__explain">
                                    Explanation: 3 - 2 + 6 = 7.
                                </div>
                            </li>
                        </ul>
                    </div> 
                </div>
            </div>
        </div>
    </div>

</body>

</html>