<!DOCTYPE html>

<html>

<head>
    <title>Fatal Error!</title>
    <style>
        .title {
            text-align: center;
            margin-top: 100px;
        }

        .description {
            text-align: center;
            margin-top: 20px;
        }

    </style>
</head>

<body>
    <h1 class="title">Fatal Error!</h1>
    <p class="description">
        A fatal error has occurred in the application. You have been brought to this page for security reasons.
    </p>
</body>

</html>