/**
 * widgets.css
 *
 * Styling for widgets used across
 * the website
 */

/* UNIQUE TEXT */

/* This is for text styling
 * on an individual basis
 */

.emphasis {
    font-weight: bold;
    color: rgb(245, 166, 35);
}
/* -------------------- *\
          Divide
\* -------------------- */

.divide,
.divide--full {
    background: #F5A623;
    height: 1px;
}

.divide {
    margin: auto 2em;    
}

.divide--full {
    margin: 0 auto;
}

.gray-divide {
    background: #888;
}

/* -------------------- *\
         Section
\* -------------------- */

.section-wrapper {
    max-width: 100%;
    width: 100%;
}

.section {
    padding: 1em 1em 1em 2em;
}

.section__header {
    /* Same margin-left as the divide element */
    font-weight: normal;
    color: rgb(245, 166, 35);
}

.section__subsection {
    margin-top: 2em;
    margin-left: 1em;
}

.section__subheader {
    color: #999;
}

.section__course-grid {
    margin-top: 2em;
}

.section__empty {
    font-size: 1.2em;
    margin: 2em 3em;
    color: #999;
    text-align: center;
}

.section__error {
    /* Same a subheader text-indent */
    margin-left: 1em;
    position: relative;
}

    .section__error i {
        position: absolute;
        font-size: 1.5em;
    }

    .section__error div {
        margin-left: 2.25em;
        color: #EC0000;
    }

/* SMALL SCREEN FOR SECTION */
@media screen and (max-width: 48em) {
    
    .section__header {
        text-align: center;
    }

    .section__subheader {
        text-align: center;
        text-indent: 0em;
    }

    .section__empty {
        margin: 2em .5em;
    }

    .section__error i {
        position: static;
        display: block;
        text-align: center;
        margin-bottom: .5em;
    }

    .section__error div {
        margin: 0;
        text-align: center;
    }
}

/* -------------------- *\
         Buttons
\* -------------------- */

.inline-button {
    color: #4A90E2;
    cursor: pointer;
}

.inline-button:hover {
    text-decoration: underline;       
}

.inline-input--small,
.inline-input {
    margin: 0 .25em;
    text-align: center;
}

.inline-input--small {
    width: 3em;
}

.pure-button-disabled,
.pure-button {
    padding: 0.5em 2em;
    border-radius: 5px;
}

.pure-button-disabled.large-button,
.pure-button.large-button {
    min-width: 15em;
}

.pure-button.blue-button {
    background-color: #1f8dd6;
    color: white;
}

.pure-button-disabled.blue-button {
    background-color: #135a8a;
    color: rgb(216, 216, 216);
}

.pure-button.red-button {
    background-color: #ff3a4c;
    color: white;
}

.pure-button-disabled.red-button {
    background-color: #a32530;
    color: rgb(216, 216, 216);
}

/* -------------------- *\
        Dashboard
\* -------------------- */

.dashboard {
    position: relative;
    min-height: 15em;
    background: rgb(216, 216, 216);
}

.dashboard__content {
    /* Same as parent */
    min-height: 15em;
    padding: 7em 0 0 0;
}

.dashboard-buttons {

}

.dashboard-buttons__item {
    padding: .25em .5em;
}

@media only screen and (max-width: 48em) {

    .dashboard-buttons__item {
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;
    }

}

/* -------------------- *\
           Tags
\* -------------------- */

.tag {
    font-size: .8em;
    padding: 0em .3em;
    border-radius: 3px;
}

.tag-list {
    width: 100%;
}

.tag-list:after {
    content: '.';
    visibility: hidden;
    clear: both;
}

.tag-list__item {
    float: left;
    margin: 0 0 .3em .3em;
}

/* -------------------- *\
         Notify
\* -------------------- */

.notify {
    position: absolute;

    margin-top: -8em;
    margin-bottom: 3em;
    
    top: 50%;
    /*Maybe reduce top value based on reduced width */
    
    max-width: 100%;
    width: 100%;
    min-height: 10em;
}

.notify-icon {
    font-size: 4em;
    margin-bottom: .25em;
    display: block;
    text-align: center;
}

.notify__head {
    text-align: center;
    font-size: 2.1em;
    margin: 5px 0;
}

.notify__subhead {
    text-align: center;
    font-size: 1.3em;
    margin: 1em 5em; 
}


.notify__form {
    text-align: center;
    margin: auto;
    width: 20em;
}

@media screen and (max-width: 48em) {
  
  
    .notify {
	top: 45%;
    }

    .notify__form {
	font-size: 1.1em;
        width: 41.67%;
    }
    
    .notify__subhead {
	margin: 1em 3em; /*Change to scale with smaller widths, left and right only */
  }

}

@media screen and (max-width: 36em) {

    .notify {
	top: 40%;
    }
    
    .notify__form {
	font-size: 1.2em;
        width: 12.5em;
    }
    
    .notify__subhead {
	margin: 1em 3em; /*Change to scale with smaller widths, left and right only */
    }

}

