/* -------------------- *\
       Text Styling
\* -------------------- */

/* This section contains all
 * the styling for text in these
 * widgets
 */


/* LARGE TEXT */

.course-info__header {
    font-weight: bold;
    font-size: 1.25em;
}

/* WEIGHTED TEXT */

.main-options__item__text,
.course-info__body__text {
    color: #444;
    font-weight: bold;
    font-size: .875em;
}

/* ASIDE TEXT */

.course-info__footer {
    color: #777;
    font-weight: bold;
    font-size: .875em;
}

/* -------------------- *\
         Category
\* -------------------- */

.category__title {
    font-size: 1em;
    color: #999;
    /* Don't hard code this */
    font-weight: bold;
}

.category__list > li {
    font-size: 1em;
    color: #4A90E2;
}

.user-name {
    color: #4A90E2;
}

/* -------------------- *\
        Dashboard
\* -------------------- */

.dashboard__course-description {
    font-size: 1em;
    color: #666;
}

/* -------------------- *\
      Course-Summary
\* -------------------- */

.exam__my-questions__title {
    font-weight: bold;
    color: #444;
    font-size: 1.25em;
}

.course-summary__name,
.course-summary__field__value,
.course-summary__creator-info,
.exam__creator-info__text {
    font-weight: bold;
    color: #444;
    font-size: .875em;
}

.course-summary__field__key {
    color: #999;
    font-size: .875em;
}

.course-summary__stats__item {
    color: #666;
    font-size: .9em;
    font-weight: bold;
}