/**
 * widgets.css
 *
 * Styling for widgets used across
 * the website
 */

/* UNIQUE TEXT */

/* This is for text styling
 * on an individual basis
 */

.main {
    min-width: 800px;
}

/* -------------------- *\
         Widgets
\* -------------------- */

/* SHARED STYLING */

.main-options,
.my-courses {
    margin: 30px 20px 0 20px;
}

/* The dividing line between
 * other elements
 */

.divide,
.divide--full {
    background: #F5A623;
    height: 2px;
    margin: 10px auto;
}

.divide {
    width: 80%;
}

.divide--full {
    width: 100%;
}

/* -------------------- *\
         Content
\* -------------------- */

.content {
    display: flex;
    display: -webkit-flex;

    -webkit-flex-direction: row;
    flex-direction: row;

    width: 100%;
}

.content__nav {
    position: relative;

    width: 200px;
    min-width: 200px;
}

.content__body__wrapper {
    margin: 0 20px 0 70px;
}

.content__body__title {
    margin: 15px 0px 0px 0px;
    margin-top: 15px;

    font-size: 40px;
    font-weight: bold;
    color: #444;
}

.content__body__description {
    /* TODO: Move text styling to text css */
    margin: 5px 0px; 
    font-size: .8em;
    color: #666;
    
}

/* styling for any category elements
   inside of the nav */
.content__nav > .category {
    margin: 30px 20px 20px 20px;
}

/* -------------------- *\
          Search
\* -------------------- */

.search {

    position: relative;

    margin-top: -25px;
    height: 50px;
    
    width: 650px;
    margin-left: -325px;
    
    top: 50%;
    left: 50%;
}

.search__input {
    position: relative;

    top: 5px;
    width: 550px;
    height: 30px;
    padding-left: 5px;

    border: solid #AAA 1px;
    border-radius: 4px;
    /* TODO: Do not hard-code font-size */
    /* TODO: Move this to text.css */
    font-size: 20px;
}

.search__submit {
    position: relative;
    
    top: 11px;

    margin-left: 30px;

    width: 30px;
    height: 30px;
}


/* -------------------- *\
      Form Elements
\* -------------------- */

.text-input {
    padding: 5px;    
}

.button--disabled,
.button {
    border: solid #CCC 1px;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 1em;
    background: #EAEAEA;
}

.button-wrapper {
    text-align: center;
}

.button-wrapper > .button,
.button-wrapper > .button--disabled {
    margin: 0px 10px;
}

.button {
    color: black;
    cursor: pointer;
}

.button--disabled {
    color: #999;
    cursor: default;
}

.button:active {
    background: #DDD;
}

.small-button,
.small-button--positive,
.small-button--negative,
.large-button,
.large-button--positive,
.large-button--negative {
    
    border: none;
    color: white;
}

.large-button,
.large-button--positive,
.large-button--negative {
    font-size: 1.1em;
    width: 200px;
    height: 30px;
}

.small-button,
.small-button--positive,
.small-button--negative {
    font-size: .8em;
    width: 80px;
    height: 25px;
}

.small-button--positive,
.large-button--positive {
    background: #4A90E2;
}

.small-button--positive:active,
.large-button--positive:active {
    background: #386dac;
}

.small-button--negative,
.large-button--negative {
    background: #e34d2f;
}

.small-button--negative:active,
.large-button--negative:active {
    background: #a53722
}

/* -------------------- *\
       Main-Options
\* -------------------- */

/*
 * Main actions that the user
 * can take.
 */

ul.main-options {
    list-style: none;
}

.main-options {
    padding: 0;
}

.main-options__item {
    position: relative;
    height: 35px;
    margin: 0px 0px 4px 0px;
    cursor: pointer;
}

.main-options__item__icon {
    /* Note that height and margin
     * should be specified inline for each
     * image
     */
    position: absolute;
    top: 50%;

}

.main-options__item__text {
    line-height: 35px;
    margin-left: 45px;
}

/* -------------------- *\
        Category
\* -------------------- */

/* Used to categorize
 * a list of items
 */

.category {
    position: relative;
}

ul.category__list {
    list-style: none;
}

.category__list {
    margin: 0 0 0 20px;
    padding: 0;
}

.category__list > li {
    margin: 10px 0 0 0;
    cursor: pointer;
}

/* -------------------- *\
        My-Courses
\* -------------------- */

/* List of Courses that
 * the user has enrolled in
 */

.my-courses .category__list > li {
    cursor: pointer;
}

.my-courses .category__list > li:hover {
    text-decoration: underline;
}

/* -------------------- *\
         Exam-List
\* -------------------- */

.exam-list__selection-bar {
    position: absolute;
    height: 22px;
    width: 3px;
    left: 0px;
}

.exam-list .category__list > li:hover {
    text-decoration: underline;
}

/* -------------------- *\
        Course-Info
\* -------------------- */

/* Course-Info is the box containing
 * some relevant information about a
 * course.
 */

.course-info {
    margin: 0px 10px 10px 0px;

    display: flex;
    display: -webkit-flex;

    flex-direction: column;
    -webkit-flex-direction: column;

    float: left;

    min-height: 150px;
    height: 150px;

    width: 200px;
    min-width: 200px;

    border: solid #979797 1px;

    border-radius: 2px;

    cursor: pointer;
}


.course-info__body {
    position: relative;

    -webkit-flex-grow: 1;
    flex-grow: 1;
    
    overflow: hidden;
}

.course-info__header {
    min-height: 40px;
    line-height: 40px;

    text-align: center;
    color: white;
    font-weight: normal;
}

.course-info__footer {
    min-height: 30px;
    line-height: 30px;

    background: #D8D8D8;
    padding-left: 5%;
}

.course-info__body__text {
    /* NOTE: Text truncating will have
     * to be done in javascript code */
     margin: 8px 10px;
}

/* -------------------- *\
       Profile-Grid
\* -------------------- */

.profile-grid {
    padding: 0;
    margin: 0;

    display: block;
    width: 150px; /* width of 3 pics */
}

ul.profile-grid {
    list-style: none;
}

.profile-grid__row__item {
    float: left;
}

.member-count--square {
    width: 50px;
    height: 50px;

    background: rgb(216, 216, 216);
    color: #999;
    /* TODO: Remove hard font-size */
    font-size: 20px;
    font-weight: bold;

    text-align: center;
    line-height: 50px;
}

/* -------------------- *\
       Profile-Pic
\* -------------------- */

.profile-pic--circle--bordered,
.profile-pic--circle,
.profile-pic--square--bordered,
.profile-pic--square {
    position: relative;
    display: block;
}

.profile-pic--circle--bordered,
.profile-pic--square--bordered {
    width: 56px;
    height: 56px;

    background: #DDD;
}

.profile-pic--circle,
.profile-pic--square {
    width: 50px;
    height: 50px;
}

.profile-pic--circle {
    border-radius: 25px;
}

.profile-pic--circle--bordered {
    border-radius: 28px;
}

.profile-pic--circle > img,
.profile-pic--circle--bordered > img,
.profile-pic--square > img,
.profile-pic--square--bordered > img {
    position: absolute;

    width: 50px;
    height: 50px;
}

.profile-pic--circle > img,
.profile-pic--square > img {
    top: 0px;
    left: 0px;
}

.profile-pic--circle--bordered > img,
.profile-pic--square--bordered > img {
    top: 3px;
    left: 3px;
}

.profile-pic--circle > img,
.profile-pic--circle--bordered > img {
    border-radius: 25px;
}

/* TODO: Move this element to course styles */
/* -------------------- *\
      Course-Summary
\* -------------------- */

.course-summary {
    position: absolute;

    top: 85px;
    left: 0px;

    width: 350px;
    height: 175px;

    background: white;

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 2px 3px 3px .5px #999;
}

.course-summary__banner {
    float: left;
    width: 20px;
    height: 100%;
}

.course-summary__code {
    margin: 10px 15px 0px 40px;

    font-size: 30px;
    font-weight: medium;
}

.course-summary__name,
.course-summary__field {
    font-size: 14px;
    font-weight: bold;
}

.course-summary__name {
    margin: 7px 15px 0px 40px; 
}

.course-summary__field {
    margin: 4px 15px 0px 40px;
    color: #444;
}

.course-summary__creator-profile {
    margin-top: 10px;
    left: 35px;
}

.course-summary__creator-info {
    position: absolute;

    margin: 0;
    top: 120px;
    left: 95px;

    width: 180px;
}

.course-summary__stats {
    margin-left: 40px;
    padding: 0px;
}

ul.course-summary__stats {
    list-style: none;
}

.course-summary__stats__item {
    margin-top: 5px;    
}

