/**
 * content.css
 */


.content-filler {
   float: left;
   width: 100%;
}

.content-searchWrapper {
    position: relative;

    width: 100%;
    height: 50px;

    float: left;
    width: 100%;
    height: 80px;
}

.content-search {
    position: relative;

    margin-top: -25px;
    height: 50px;

    top: 50%;
    left: 50%;
}

.content-searchBar {
    position: relative;

    top: 5px;
    height: 30px;
    padding-left: 5px;

    border: solid #AAA 1px;
    border-radius: 4px;

}

.content-searchButton {
    position: relative;
    

    top: 11px;
}

@media only screen and (min-width: 800px) {

    .content-filler {
        height: 325px;
    }

    .content-search {
        width: 650px;
        margin-left: -325px;
    }

    .content-searchBar {
        width: 550px;

        font-size: 20px;
    }

    .content-searchButton {
        margin-left: 30px;

        width: 30px;
        height: 30px;
    }



}

@media only screen and (max-width: 800px) {

    .content-filler {
        display: none;
    }

    .content-search {
        width: 380px;
        margin-left: -190px;
    }

    .content-searchBar {
        margin-left: 15px;
        width: 300px;

        font-size: 14px;
    }

    .content-searchButton {
        margin-left: 10px;

        width: 20px;
        height: 20px;
    }

 }