/**
 * content.css
 *
 * Styling for root elements in the content
 * tag.
 */

/* -------------------- *\
     General Styling
\* -------------------- */

.content__filler {
   float: left;
   width: 100%;
}

.content__search {
    position: relative;

    width: 100%;
    height: 50px;

    float: left;
    width: 100%;
    height: 80px;
}

.main-search {
    position: relative;

    margin-top: -25px;
    height: 50px;

    top: 50%;
    left: 50%;
}

.main-search__input {
    position: relative;

    top: 5px;
    height: 30px;
    padding-left: 5px;

    border: solid #AAA 1px;
    border-radius: 4px;

}

.main-search__submit {
    position: relative;
    

    top: 11px;
}

.content__main {
    display: flex;
    margin-bottom: 40px;

    width: 100%;

    float: left;
    flex-direction: row;
}

.content__main__nav {
    position: relative;

    width: 200px;
    background: red;
}

.content__main__courses {
    position: relative;

    flex-grow: 1;
}

/* -------------------- *\
      Course Search
\* -------------------- */

.content__main__courses__grid {
    position: relative;
    margin: 30px 70px 0px 70px;
    padding: 0;
}

.content__main__courses__grid:after {
    /* style here is used to make
     * sure that the grid
     * wraps all the course info */

    content: ".";
    visibility: hidden;

    display: block;
    clear: left;

}

.content__main__courses__grid__course {
    margin: 0px 15px 15px 0px;

}

.course-info {
    border: solid #979797 1px;
    float: left;

    display: flex;
    flex-direction: column;

    border-radius: 2px;

    height: 150px;
    min-height: 150px;
    width: 200px;
    min-width: 200px;
}

.course-info__header {
    height: 40px;
    min-height: 40px;

    line-height: 40px;
    text-align: center;
    color: white;

    font-size: 20px;
}

.course-info__body {
    flex-grow: 1;
}

.course-info__body__text {
    margin: 8px 10px;
    font-size: 12px;
    font-weight: bold;
    color: #4A4A4A;
}

.course-info__footer {
    height: 30px;
    min-height: 30px;
    line-height: 30px;

    background: #D8D8D8;

    font-size: 14px;
    text-indent: 15px;
    font-weight: bold;
}

/* -------------------- *\
       Large Screen
\* -------------------- */

@media only screen and (min-width: 800px) {

    .content__filler {
        height: 325px;
    }

    .main-search {
        width: 650px;
        margin-left: -325px;
    }

    .main-search__input {
        width: 550px;

        font-size: 20px;
    }

    .main-search__submit {
        margin-left: 30px;

        width: 30px;
        height: 30px;
    }
    
}

/* -------------------- *\
       Small Screen
\* -------------------- */

@media only screen and (max-width: 800px) {

    .content__filler {
        display: none;
    }

    .main-search {
        width: 380px;
        margin-left: -190px;
    }

    .main-search__input {
        margin-left: 15px;
        width: 300px;

        font-size: 14px;
    }

    .main-search__submit {
        margin-left: 10px;

        width: 20px;
        height: 20px;
    }

 }
