/**
 * course.details.css
 */

.course-content {
    margin: 70px 0 30px 0;
    min-width: 800px;
}

/* -------------------- *\
        Dashboard
\* -------------------- */

.dashboard {
    position: relative;

    height: 150px;
    width: 100%;
    min-width: 800px;

    background: rgb(238, 238, 238);
}

.dashboard__course-logistics {
    position: absolute;

    left: 320px;
    bottom: 10px;

    padding: 0;
    margin: 0;
}

ul.dashboard__course-logistics {
    list-style: none;
}

.dashboard__course-logistics__item {
    font-size: 16px;
    color: #999;

    font-weight: bold;
}

.dashboard__course-logistics__item:not(:nth-of-type(1)) {
    margin-top: 10px;
}

.dashboard__profile-grid {
    position: absolute;

    left: 520px;
    top: 30px;
}

.dashboard__course-description {
    position: absolute;
    bottom: 5px;
    width: 450px;
    max-height: 100px;
    left: 315px; /* width of course-summary + 15px */
    
    overflow: hidden;
}

/* -------------------- *\
          Exam
\* -------------------- */

.exam {
    margin-top: 5px;
}

.exam__creator-info__pic {
    float: left;
}

.exam__creator-info::after {
    content: '.';
    visibility: hidden;
    clear: both;
    display: block;
    width: 0px;
    height: 0px;
}

.exam__creator-info { }

.exam__creator-info__text {
    display: inline-block;
    margin-left: 5px;
    /* Note: This is dependent on the height of the picture */
    margin-top: 15px;

}

.exam__my-questions {
    margin: 40px 0px 0px 0px;
}

/* -------------------- *\
      Question-list
\* -------------------- */

.question-list {
    margin: 20px 0px;
    padding: 0;

    /* Don't hard-code this */
    font-size: 14px;
}

ul.question-list {
    list-style: none;
}

/* -------------------- *\
         Question
\* -------------------- */

.question {
    position: relative;
}

.question:not(:last-child) {
    margin: 5px 20px 30px 0px;
}

.question:last-child {
    margin: 5px 20px 50px 0px;
}

.question__ask {
    vertical-align: middle;
}

/* Note: Icons are laid out with assumption
 * that there will be exactly 2 icons */
.question__icon--delete,
.question__icon--edit {
    cursor: pointer;
    position: absolute;

}

.question__icon--edit {
    left: 5px;
}

.question__icon--delete {
    left: 35px;
}

.question__content {
    margin: 0px 20px 0px 70px;
}

/* -------------------- *\
       Multi-Choice
\* -------------------- */

ul.multi-choice {
    list-style: upper-alpha;
}

.multi-choice {
    margin: 0 80px 0 50px;
    padding: 0;
}


.multi-choice__item,
.multi-choice__item--correct {
    margin: 10px 0px;

}

.multi-choice__item--correct {
    color: #4A90E2
}

.question__explain {
    margin: 20px 10px 10px 10px;
    font-weight: bold;
}
