/*
 * header.css
 *
 * All the styling for the header.
 */


/* -------------------- *\
          Header
\* -------------------- */

.header__logo {
  width: 2em;
  height: 1.7em;
  vertical-align: middle;
}

.header__title {
  margin-left: 1em;
  vertical-align: middle;
}

/* -------------------- *\
         Main Nav
\* -------------------- */

