/*
 * main.exam.css
 *
 * Styling for the exam page.
 */

/* -------------------- *\
          Timer
\* -------------------- */

/* The timer element that shows how long
 * the user has been taking the exam for.
 */
.timer--hide,
.timer {
    position: fixed;
    right: 2em;
    top: 6em;
    z-index: 2;
}

/* The element that actually shows the time in
 * the timer.
 */
.timer__time {
    font-size: 1.5em;
    font-family: 'Orbitron', sans-serif;
    color: white;
    background: rgba(0,0,0,.7);
    border-radius: 4px;

    padding: .5em;

    cursor: pointer;
}

    /* Hide the timer time when the
     * timer is hidden
     */
    .timer--hide .timer__time {
        display: none;
    }

    /* Hide the timer button when
     * we want to show the timer.
     */
    .timer .timer__button {
        display: none;
    }

/* The button used to hide/show the timer. */
.timer__button {
    cursor: pointer;

    width: 2em;
    background: rgba(0,0,0,.7);

    border-radius: 4px;
}

    .timer__button i {
        font-size: 1.1em;
        padding: .2em;
        color: white;
        text-align: center;
        width: 100%;
    }

/* -------------------- *\
        Exam Button
\* -------------------- */

/* A wrapper element for a main button on the exam page. */
.exam-button-wrapper {
  text-align: center;
}

/* SMALL SCREEN STYLING FOR EXAM-BUTTON */
@media only screen and (max-width: 48em) {

    .exam-button-wrapper {
       margin-bottom: 1em;
    }
}

/* -------------------- *\
      Question Flag
\* -------------------- */

/* Provides options to flag a question */
.question-flag {

}

.question-flag__button i {
    margin-right: .5em;
}

.question-flag__button,
.question-flag__button i {
    color: #EC0000;
}

/* 
 * Style for a list of options of what to flag
 * the question for.
 */
.question-flag__options-list {
    list-style: none;
    padding: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.question-flag__options-list--hide {
    display: none;
}

    .question-flag__options-list > li {
        cursor: pointer;
        padding: .5em .5em;
    }

    .question-flag__options-list > li:hover {
        background: blue;
    }

    /* 
     * Set the first and last list items to have a
     * border-radius to give the appearance that the list
     * has a border-radius.
     */
    .question-flag__options-list > li:nth-of-type(1) {
        /* Do not set a border-radius for the top right,
         * there will be a triangle element in that corner
         */

        /* Match the border radius of the parent list */
        border-top-right-radius: 4px;
    }

    .question-flag__options-list > li:nth-last-of-type(1) {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

.question-flag__action-list {
    list-style: none;
    margin: 1em 0 0 0;
    padding: 0;
}

    .question-flag__action-list > li {
        font-size: .8em;
        margin-bottom: .5em;
    }

/* SMALL SCREEN STYLING FOR QUESTION-FLAG */
@media only screen and (max-width: 48em) {

    /*
     * Increase the padding from the above element
     * on smaller screens.
     */
    .question-flag {
        margin-top: 2em;
    }
}

/*  OLD STYLES */

.exam,
.exam-run-results {
  margin: 0 50px 0 30px;  
}

.exam-result-back {
  position: absolute;
  top: 90px;
  right: 50px;
}


.exam__title {
  font-weight: bold;
  font-size: 2em;
}

.exam__button-wrapper {
  margin-bottom: 50px;
}

.exam-run-results__list,
.exam__question-list {
  margin: 25px 0 0 20px;
  padding: 0;
}

ul.exam-run-results__list,
ul.exam__question-list {
  list-style: decimal;
}

.exam-run-results__score {
  font-weight: bold;
  color: #888;
}

.exam-run-results__score__percent {
  color: #4A90E2;
}

.solution-item,
.solution-item--multi-choice,
.question-item,
.question-item--multi-choice {
  margin: 0 0 30px 10px;
}

.solution-item__question,
.question-item__question {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.1em;
}

.solution-item__explanation {
  margin-top: 20px;
}

.solution-item__explanation > span:nth-child(1) {
  text-decoration: underline;
  font-weight: bold;
  margin-right: 5px;
}

.question-item--multi-choice__options {
   padding-left: 30px;
}

ul.solution-item--multi-choice__options {
  list-style: upper-alpha;  
}

ul.question-item--multi-choice__options {
  list-style: none;
}

.solution-item--multi-choice__options__item--correct,
.solution-item--multi-choice__options__item--incorrect,
.solution-item--multi-choice__options__item,
.question-item--multi-choice__options__item {
  margin: 10px 0px;
}

.solution-item--multi-choice__options__item--correct {
  color: #4A90E2;
}

.solution-item--multi-choice__options__item--incorrect {
  color: #e34d2f;  
}

.question-item--multi-choice__options__item > input {
  margin-right: 10px;
}

