/**
 * content.css
 *
 * Styling for root elements in the content
 * tag.
 */

/* -------------------- *\
     General Styling
\* -------------------- */

.home-image {
   float: left;
   width: 100%;
}

.home-search {
    position: relative;

    width: 100%;
    height: 50px;

    float: left;
    width: 100%;
    height: 80px;
}

.home-content {
    margin-bottom: 40px;
}

/* -------------------- *\
      Course Search
\* -------------------- */

.home-content__courses {
    position: relative;

    -webkit-flex-grow: 1;
    flex-grow: 1;
}

/* TODO: Don't need separate style for home-content__coures__grid */
.home-content__courses__grid {
    float: left;
    position: relative;
    padding: 0;
}

.home-content__courses__grid__course {
    margin: 0px 10px 10px 0px;
}

/* -------------------- *\
       Large Screen
\* -------------------- */

@media only screen and (min-width: 800px) {

    .home-image {
        height: 325px;
    }

    .home-content__courses__grid {
        margin: 30px 70px 0px 70px;
    }
    
}

/* -------------------- *\
       Small Screen
\* -------------------- */

@media only screen and (max-width: 800px) {

    .home-image {
        display: none;
    }

    .home-content__courses__grid {
        margin: 30px 20px 0px 20px;
    }

 }
