/**
 * main.home.css
 *
 * Styling for the home page.
 */


/* -------------------- *\
       Course Box
\* -------------------- */

/* NOTE THAT THE COURSE BOX ELEMENT
   SHOULD BE INSIDE THE section__course-grid
   element */

.course-box {

}

.course-box__content {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    margin: .5em;
    border-radius: 5px;
    overflow: hidden;
    border: solid #888 1px;
}

.course-box__content__header {
    font-size: 1.5em;
    height: 1.7em;
    line-height: 1.7em;
    min-height: 1.7em;
    text-align: center;

    color: rgb(74, 144, 226);
    background: rgb(216, 216, 216);
}

.course-box__content__body {
    padding: .5em .75em;
    line-height: 1.5em;
    color: #444;
}

.course-box__content__body > div {
    margin-bottom: 1em;
}

.course-box__content__footer {
    height: 1.8em;
    line-height: 1.8em;
    min-height: 1.5em;
    text-align: center;
    background: rgb(216, 216, 216);
    color: rgb(74, 144, 226);
}
