/*
 * header.css
 *
 * All the styling for the header.
 */


/* -------------------- *\
          Header
\* -------------------- */

.header__logo {
  width: 2em;
  height: 1.7em;
  vertical-align: middle;
}

.header__title {
  margin-left: 1em;
  vertical-align: middle;
}

/* PORTRAIT AND LANDSCAPE MOBILE DEVICE */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { 
    
    .header {
      font-size: 2em;
    }
    
    .header__title {
        display: none;
    }

}

/* -------------------- *\
        Home-Menu
\* -------------------- */