/* -------------------- *\
       Text Styling
\* -------------------- */

/* This section contains all
 * the styling for text in these
 * widgets
 */


/* LARGE TEXT */

.course-info__header {
    font-weight: bold;
}

/* LINK TEXT */

.my-courses .category__list > li {
   color: #4A90E2;
}

/* WEIGHTED TEXT */

.main-options__item__text,
.course-info__body__text {
    color: #444;
    font-weight: bold;
}

/* ASIDE TEXT */

.course-info__footer {
    color: #777;
    font-weight: bold;
}

@media only screen and (min-width: 800px) {

    /* LARGE TEXT */
    .course-info__header {
        font-size: 1.25em;
    }

    /* NORMAL TEXT */

    .main-options__item__text,
    .course-info__body__text {
        font-size: .875em;
    }

    /* ASIDE TEXT */
    .course-info__footer {
        font-size: .875em;
    }
}


@media only screen and (max-width: 800px) {

    /* LARGE TEXT */
    .course-info__header {
        font-size: 1em;
    }

    /* NORMAL TEXT */
    .main-options__item__text,
    .course-info__body__text {
        font-size: .75em;
    }

    /* ASIDE TEXT */
    .course-info__footer {
        font-size: .75em;
    }
}

