/**
 * widgets.css
 *
 * Styling for widgets used across
 * the website
 */

/* UNIQUE TEXT */

/* This is for text styling
 * on an individual basis
 */

.my-courses .category__titlet {
    font-size: 1em;
    color: #999;
    /* Don't hard code this */
    font-weight: bold;
}

/* -------------------- *\
         Widgets
\* -------------------- */

/* SHARED STYLING */

.main-options,
.my-courses {
    margin: 30px 20px 0 20px;
}

/* The dividing line between
 * other elements
 */
.divide {
    background: #F5A623;
    height: 2px;
    width: 80%;
    margin: 20px auto;
}


/* MAIN OPTIONS */

/*
 * Main actions that the user
 * can take.
 */

ul.main-options {
    list-style: none;
}

.main-options {
    padding: 0;
}

.main-options__item {
    position: relative;
    height: 35px;
    margin: 0px 0px 4px 0px;
}

.main-options__item__icon {
    /* Note that height and margin
     * should be specified inline for each
     * image
     */
    position: absolute;
    top: 50%;

}

.main-options__item__text {
    line-height: 35px;
    margin-left: 45px;


}

/* CATEGORY */

/* Used to categorize
 * a list of items
 */


ul.category__list {
    list-style: none;
}

.category__list {
    margin: 0 0 0 20px;
    padding: 0;
}

.category__list > li {
    margin: 10px 0 0 0;
    cursor: pointer;
}

/* MY COURSES */

/* List of Courses that
 * the user has enrolled in
 */

.my-courses .category__list > li {
    cursor: pointer;
}

.my-courses .category__list > li:hover {
    text-decoration: underline;
}



/* -------------------- *\
        Course-Info
\* -------------------- */

/* Course-Info is the box containing
 * some relevant information about a
 * course.
 */

.course-info {
    border: solid #979797 1px;
    float: left;

    display: flex;
    flex-direction: column;

    border-radius: 2px;
}


.course-info__body {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
}

.course-info__header {
    min-height: 40px;
    line-height: 40px;

    text-align: center;
    color: white;
    font-weight: normal;
}

.course-info__footer {
    background: #D8D8D8;
    padding-left: 5%;
}

/* Course Info for Large Screens */

@media only screen and (min-width: 800px) {
    .course-info {
        min-height: 150px;
        height: 150px;
        width: 200px;
        min-width: 200px;
    }

    .course-info__header {
        min-height: 40px;
        max-height: 100px;
        line-height: 40px;
    }

    .course-info__body__text {
        /* NOTE: Text truncating will have
         * to be done in javascript code */
         margin: 8px 10px;
    }

    .course-info__footer {
        min-height: 30px;
        line-height: 30px;
    }

}

/* Course Info for Small Screens */

@media only screen and (max-width: 800px) {
    .course-info {
        min-height: 100px;
        max-height: 100px;

        width: 120px;
        min-width: 120px;
    }

    .course-info__header {
        min-height: 30px;
        line-height: 30px;
    }

    .course-info__body__text {
        margin: 5px 8px;
    }

    .course-info__footer {
        min-height: 20px;
        line-height: 20px;
    }
}
